/*variables*/

$color-primario1: #1d1b26;
$color-primario2: #fff;
$background-parrafos:#1a1a1a;
$background-frasesteve-jobs:#f4f2f9;
$color-titulos: #212529;
$color-parrafos:#989ca0;
$border-botones: #fd2d55;
$fuente1: 'Andika New Basic', sans-serif;
$fuente2:'El Messiri', sans-serif;
$color-border:rgb(66 64 73);
/*
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #fd2d55;
--secondary: #6c757d;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #212529;
--primary-2: #432ca2;
--primary-3: #1d1b26;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--font-family-sans-serif: "Inter UI",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;    */






*{
    border:0;
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:1rem;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
header{
    display:grid;
    grid-template-columns: auto 12%;
    align-items: center;
    position:fixed;
    width:100%;
    z-index: 2;
    background-color: $color-primario1;
    border-bottom: 4px double $color-border;

    .header_div1{
        display:flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 4%;
        img{
        width: 23%;
        }
        h1{
            padding-left: 2%;
            color: $color-primario2;
            font-size: 1.5rem;
        }
    }
    .header__home{
        display:block;
    }
    .header__vacio-mobile{
        display:none;
    }
}
main{
    padding-top:70px;
    .main_section1{
        padding-top:80px;
        text-align: center;
        line-height: 1.7rem;
        background-color: $color-primario1;
        color:#f8f9fa;
        border-end-end-radius: 100px;
        .main_s1-titulo{
            h2{
                width: 95%;
                margin-left: auto;
                margin-right: auto;
                padding-bottom: 20px;
                font-size: 3rem;
                font-family: $fuente2;
                font-weight: bold;
                line-height: 3.5rem;
                letter-spacing: .3px;
            }
            p,b{
                width: 95%;
                margin-left: auto;
                margin-right: auto;
                font-family: $fuente1;
                font-size: 1rem;
                padding-bottom: 30px;
            }
            .boton_uso{
                margin-bottom:40px;
                width:265px;
                height:75px;
                border: 1px solid $border-botones;
                background:transparent;
                border-radius: 7px;
                p{
                    width:80%;
                    margin:10px auto;
                    vertical-align: center;
                    a{
                        margin: 0 auto;
                        color:$border-botones;
                        font-size: 1.2rem;
                        line-height:1.7rem;
                        letter-spacing: .3px;
                    }
                }
            }
        }
        .main_vacio-pc-img{
            margin-bottom: 25px;
        }
        .main_vacio-pc-button{
            margin-bottom:50px;
            button{
                padding:3px;
                margin-left: 5px;
                margin-right: 5px;
                border-radius:3px;
                a{
                    color:black;
                }
            }
        }
        .main_div-whismiscal{
            display:flex;
            align-items: center;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            img{
                width:45%;
                margin-right: 2%;
            }
        }
        .main_div_explicacion1{
            padding-top: 35px;
            padding-bottom: 35px;
            img{
                width:85%;
            }
        }
    }
    .main_section2{
        text-align:center;
        margin-top:80px;
        letter-spacing: .4px;
        figure{
            display:flex;
            justify-content: center;
            align-items: center;
            width:90px;
            height:90px;
            margin-left: auto;
            margin-right: auto;
            background-color:rgb(255 234 238);
            border-radius: 70px;
        }
        img{
            width:50px;
        }
        strong,h3{
            padding-top:15px;
            padding-bottom: 15px;
            font-size:1.55rem;
            font-family:$fuente1;
            color: $color-titulos;
        }
        h2{
            padding-bottom: 50px;
            font-size:2.1rem;
            font-family: $fuente1;
            font-weight: bold;
        }
        p,b{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 40px;
            font-size:1.2rem;
            line-height: 1.5rem;
            color:black;
            opacity:.9;
            span > b{
                color:$border-botones;
            }
        }
        .main_section2-interna{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        .main_section2-interna-div1{
            max-width: 420px;
        }
        .main_section2-interna-div2{
            max-width: 420px;
        }
        .main_section2-interna-div3{
            max-width: 420px;
            .img3{
                opacity:.95;
            }
        }
    }
    .main_section3{
        text-align: center;
        padding-top:55px;
        padding-bottom: 55px;
        background-color:$background-frasesteve-jobs;
        color:$color-titulos;
        border-top-left-radius: 100px;
        border-end-end-radius: 100px;
        h2{
            width:95%;
            margin: 0 auto;
            font-size:2.1rem;
        }
        p{
            padding-top:20px;
            font-size:1.4rem;
            font-weight: bold;
        }
    }
    .main_section4{
        max-width:1200px;
        margin: 0 auto;
        text-align: center;
        padding-top:50px;
        background-color:$background-frasesteve-jobs;
        border-top-right-radius: 100px;
        video{
            width: 85%;
            max-width:450px;
            border-radius: 10px;
        }
        h2,p{
            width: 90%;
            margin: 0 auto;
            letter-spacing:.3px;
        }
        h2{
            padding-top:20px;
            padding-bottom:20px;
            font-size:1.7rem;
            font-weight: 500 italic;
            color: $color-titulos;
        }
        p{
            font-size:1.2rem;
            color: black;opacity:.9;
            padding-bottom:75px;
        }
        .main_section4-div1,.main_section4-div2,.main_section4-div3,.main_section4-div4{
            /*despues de 700px
            display:grid;
            grid-template-columns: 60% auto;*/
            display:grid;
        }
    }
    .main_section5{
        @extend .main_section1;
        border-end-end-radius: 0px;
        padding-top:35px;

        .main_section5-div1{
            h2{
                font-size: 2rem;
                padding-bottom:30px;
            }
            p{
                width:90%;
                margin: 0 auto;
                font-size:1.15rem;
                padding-bottom:40px;
            }
        }
        .main_section5-div2{
            @extend .main_s1-titulo;
            button{
                @extend .boton_uso;
                padding-top:12.5px;
            }
        }
    }
    .main_section6{ 
        @extend .main_section5;
        padding-bottom: 30px;
        background-color: $color-primario2;
        .main_section6-div1{
            @extend .main_s1-titulo;
            h2{
                margin: 0 auto;
                color: $color-primario1;
                font-size:2rem;
            }
            button{
                @extend .boton_uso;
                padding-top:12.5px;
            }
        }
    }
/*en este se mete los nuevos section*/
}/*este es el corchete del main*/
footer{
    text-align: center;
    ul{
        li{
            width:20px;
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    p{
        width: 90%;
        margin: 0 auto;
        letter-spacing: .3px;
        padding-top:15px;
        font-size:1.1rem;
        padding-bottom: 70px;
    }
    .hellos{
        z-index: 100;
        position: fixed;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
    }
}

/*breakpoints*/
@media(min-width: 520px){
    header{
        .header_div1{
            .img_header{

                width: 15%;
            }
        }
    }
    main{
        .main_section1{
            .main_div_explicacion1{
                .screenshot1{
                    width: 75%;
                }
            }
        }
        .main_section6{
           
            .main_section6-div1{
                display:flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                width: 80%;
                margin-right: auto;
                margin-left: auto;
                button{
                    margin-bottom: 0;
                }
                img{
                    display:none;
                }
            }
        }
    }

}





@media(min-width:770px) {
    header{
        .header_div1{
            h1{
                font-size:2rem;
            }
            .img_header{
                width:5%;
            }
        }
    }
    main{
        .main_section1{
            .main_s1-titulo{
                h2{
                    font-size:3.4rem;
                }
                p,b{
                    font-size:1.3rem;
                }
            }
            .main_vacio-pc-button{
                display:none;
            }
            .main_div-whismiscal{
                width:50%;
                margin-left: auto;
                margin-right: auto;
                p::after{
                    content: ".Get $100 free credit";
                }
            }
        }
        .main_section4{
            .main_section4-div1,.main_section4-div2,.main_section4-div3,.main_section4-div4{
                display: grid;
                grid-template-columns: 50% 50%;
                align-items: center;
                padding-bottom:40px;
            p{
                padding-bottom: 0px;
            }
            }
            .main_section4-div2{
                .main_section4-video2{
                    grid-column: 2/3;
                }
                .main_section4-texto2{
                    grid-column:1/2;
                    grid-row: 1/2;
                }
            }
            .main_section4-div4{
                .main_section4-video4{
                    grid-column: 2/3;
                }
                .main_section4-texto4{
                    grid-column:1/2;
                    grid-row: 1/2;
                }
            }
        }
    }
}

@media(min-width:850px){
    *{
        font-size: +105%;
    }
    header{
        grid-template-columns: 65% 35%;
        .header__home{
            display:none;
        }
        .header__vacio-mobile{
            display: block;
            button,img,span{
                display:none;
            }
            ul{
                display:flex;
                justify-content: space-evenly;
                margin-right: 25px;
                li{
                    display:inline-block;
                    a{
                        font-size:1.2rem;
                        color:$color-primario2;
                    }
                }
            }
        }
    }
    footer{
        p{
            font-size:1.35rem;
        }
    }
}
@media(min-width:1200px){
    header{
        padding-top: 15px;
        padding-bottom: 15px;
        grid-template-columns: 30% 70%;
        .header_div1{
            .img_header{
                width: 13%;
            }
        }
        .header__vacio-mobile{
            display:flex;
            align-items: center;
            justify-content: space-evenly;
            ul{
                margin-right: 5px;
                margin-left: 5px;
                li{
                    margin-right:10px;
                    margin-left: 10px;
                }
            }
            button,img{
                display:block;
            }
            span{
                display:inline;
            }
            button{
                background-color:$border-botones;
                width:130px;
                height:60px;
                border-radius:10px;
                a{
                    color:$color-primario2;
                }
            }
        }
    }
    main{
        .main_section1{
            .main_vacio-pc-img{
                display:none;
            }
            .main_div-whismiscal{
                width:40%;
                padding-top:30px;
                padding-bottom: 30px;
            }
        }
    }
}
